<h1>Merchants Index</h1>

<div class="enabled_merchants">
  <% @merchants.enabled.each do |merchant| %>
    <%= render partial: 'merchant_partial', locals: { merchant: merchant } %>
  <% end %>
</div>

<div class="disabled_merchants">
  <% @merchants.disabled.each do |merchant| %>
    <%= render partial: 'merchant_partial', locals: { merchant: merchant } %>
  <% end %>
</div>