<h1>Merchants Index</h1>

<p><%= link_to 'Create New Merchant', new_admin_merchant_path %>

<div class="disabled_merchants">
  <h4>Disabled Merchants</h4>
  <% @merchants.disabled.each do |merchant| %>
    <%= render partial: 'merchant_partial', locals: { merchant: merchant } %>
  <% end %>
</div>

<div class="enabled_merchants">
  <h4>Enabled Merchants</h4>
  <% @merchants.enabled.each do |merchant| %>
    <%= render partial: 'merchant_partial', locals: { merchant: merchant } %>
  <% end %>
</div>
