<h1> Admin Merchant Create </h1>

<%= form_with model: [:admin, @merchant], local: true do |form| %>
  <%= form.label :name, "Merchant Name" %>
  <%= form.text_field :name %>
  <%= form.submit %>
<% end %>