<h1><%= @merchant.name %></h1>

<img src= <%= "#{@merchant_image.image_url}"%> alt="Merchant Image" width=auto height="200">

<p> <%= link_to "Update #{@merchant.name}", edit_admin_merchant_path(@merchant) %>