<h1>Little Esty Shop</h1>

<h2><%= @merchant.name %></h2>

<h3><b>My Items</b></h3>

<ul style="list-style-type:none">
  <% @merchant.items.each do |item| %>
    <li><%= link_to item.name, merchant_item_path(@merchant, item) %></li>
  <% end %>
</ul>